body{ /*Etiqueta de httml*/
    margin:0; /* Quitar margenes */
    padding:0; /* Espaciados internos */
    background: #fff8f0; /*Para los fondos*/
    padding-top: 13rem;
}

.name{
    width: 100%;
    height: 300px;
    background: #ff0000;
    transform: skewY(-5deg);
    
}

.content{
    width: 50%;
    height: 50%;
    position: absolute; /*Mover a cualquier lado*/
    left: 25%;/*Mover a la izquierda*/
   

}
.img{
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 0;
    transform: skewY(5grad);
    overflow: hidden;
}
.img img{
    width: 180px;
    height: 200px;
}

.p-1{
    color: black; /*Color para el texto*/
    font-family: 'Baloo Tamma 2',sans-serif;
    font-weight: bolder;/*Colocarla en negrilla la letra,cursiva o delgada*/
    font-size: 45px;
    transform: skewY(5deg);
    margin-bottom: 0%;
}

.p-2{
    color: black; /*Color para el texto*/
    font-family: 'Baloo Tamma 2',sans-serif;
    font-weight: bolder;/*Colocarla en negrilla la letra,cursiva o delgada*/
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0%;
}

.info{
    width: 90%;
    height: auto;
    background: #ff0000;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.tituloSeccion{
    color:black;
    font-family: 'Baloo Tamma 2',sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px white dashed;
}
.tituloInfo{
    color:black;
    font-family: 'Baloo Tamma 2',sans-serif;
    font-weight: bolder;
    font-size: large;
    display:inline ;
    margin-right: 20px;
}

.infoInfo{
    color:white;
    font-family: 'Baloo Tamma 2',sans-serif;
    font-weight: normal;
    font-size: large;
    display:inline ;
}

/* //////////////////////////////////////////////////////////////////////// */

.nav-enlace{
    z-index: 100;
    display: inline-block;
    background: red;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
    font-family: 'Baloo Tamma 2',sans-serif;
    

}
.nav-enlace:hover{
    background: rosybrown;
    
}
nav{
    z-index: auto;
    background: rebeccapurple;
    padding: 10px;
    display: flex;
    justify-content: space-around; 

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.nav-boton{
    background: salmon;
    color: #fff;
    padding: 10px 0;
    border: 2px solid #fff;
    display: none;
}

@media (max-width: 500px) {
    nav{
        z-index: +100;
        background: black;
        flex-direction: column;
    }
    .nav-enlace{
        margin: 10px 0;
    }
    .nav-boton{
        display: inline-block;
    }
    .desaparece{
        display: none;
    }
}

.subInicio{
    position: absolute;
}